
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #f8b195, #355c7d); 
    color: #ffffff;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    min-height: 100vh; 
}


.container {
    text-align: top; 
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 80%; 
    max-width: 800px; 
}


table {
    margin: 0 auto; 
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid #ffffff;
}

th, td {
    padding: 10px;
    text-align: left;
}


a {
    color: #ffd700; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


iframe {
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}


img {
    border-radius: 10px;
    margin-top: 20px;
}